<a href="https://colab.research.google.com/github/yuhchian/nlp100knocks/blob/master/NLP100Knocks_10_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第2章: UNIXコマンドの基礎

Questions created by Ookazaki-sensei (See http://www.cl.ecei.tohoku.ac.jp/nlp100/)

Attempted by Yuh Chian

[hightemp.txt](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt)は，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，[hightemp.txt](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt)を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [0]:
bash-3.2$ wc -l hightemp.txt
      24 hightemp.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [0]:
bash-3.2$ 
bash-3.2$ 
bash-3.2$ expand -t 1 hightemp.txt > hightemp_c.txt

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [0]:
bash-3.2$ cut -f 1 hightemp.txt > col1.txt
bash-3.2$ cut -f 2 hightemp.txt > col2.txt

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [0]:
bash-3.2$ paste col1.txt col2.txt > pasted.txt

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [0]:
bash-3.2$ head -n 5 hightemp.txt

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [0]:
bash-3.2$ tail -n 5 hightemp.txt

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [0]:
bash-3.2$ n=15
bash-3.2$ split -l $n hightemp.txt new_
bash-3.2$ ls new_*
new_aa	new_ab  new_ac

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [0]:
bash-3.2$ sort col1.txt | uniq

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [0]:
bash-3.2$ sort hightemp.txt -k 4

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [0]:
bash-3.2$ cut -f 1 hightemp.txt | sort | uniq -c | sort -r -k 1 
   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 高知県
   1 愛媛県
   1 大阪府
   1 和歌山県